<h1>Your Recipes</h1>
<div class="row">
  <div class="col-sm-6">
    <% if @recipes.any? %>
    <ul>
      <% @recipes.each do |recipe| %>
      <li> <a href="/recipe/ <%= recipe.id %>"> <%= recipe.name %></a> <a href="/rating/<%= recipe.rating %>"><%= recipe.rating %> <span class="glyphicon glyphicon-star"></span></a></li>
      <% end %>
    </ul>
    <% else %>
    <h3>There are no recipes!</h3>
    <% end %>
  </div>
  <div class="col-sm-6 well">
    <h3>Add Recipes</h3>
    <form class="form-group" action="/recipes" method="post">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">
      <label for="ingredient">Enter each ingredient on its own line</label>
      <textarea class="form-control" rows="8" cols="40" name="ingredient"></textarea>
      <label for="instruction">Enter each instruction on its own line</label>
      <textarea class="form-control" type="text" name="instruction" rows="8" cols="40"></textarea>
      <% @tags.each do |tag| %>
      <label><input type="checkbox" name="tag_box[]" value="<%= tag.id %>"><%= tag.name %></label>
      <% end %>
      <label for="rating">Rating</label> <br>
      <input type="radio" name="rating" value="1" checked> Yuk! <br>
      <input type="radio" name="rating" value="2"> Meh <br>
      <input type="radio" name="rating" value="3"> Ok <br>
      <input type="radio" name="rating" value="4"> Si <br>
      <input type="radio" name="rating" value="5"> Me Gusta <br>
      <button class="btn btn-success" type="submit" name="button">Create Recipe</button>
    </form>
    <!-- <form class="" action="index.html" method="post">
      <button type="submit" class="btn btn-success" name="button">Apply Tags</button>
    </form> -->
  </div>
</div>


    <h4><a href="/">Return Home</a></h4>
  </div>
</div>
